@import './reset.scss';

$defaultArrowDeg: 101.25deg;
$oneArcDeg: 22.5deg;
$halfOfOneArcDeg: 11.25deg;

.transceiver {
    margin: 0 auto;
    height: 50rem;
    width: 62.5rem;
    border: 1px solid black;

    .transceiver__main {
        display: flex;
        position: relative;
        justify-content: space-between;
        align-items: center;
    }

    .main__arrow{
        width: 6rem;
        height: 6rem;
        background-color: #fff;
        top: 15.625rem;
        left: 15.625rem;
        line-height: 6rem;
        border: 3px solid black;
        border-radius: 50%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate3d(-50%, -50%, 0);
        
        .arrow {
            color: #0C5394;
            font-size: 5rem;
            transform: rotate(0deg);
            transition: transform 0.6s ease-out;
        }
    }

    .main__screen {
        margin: 0 auto;
        white-space: nowrap;

        span {
            padding-right: 20rem;
        }
    }


    .transceiver__info {
        display: flex;
        justify-content: space-evenly;

        form {
            display: flex;
            flex-direction: column;
        }

        button {
            margin-top: 0.5rem;
        }
    }
}

.transmit__status {
    padding: 0.5rem;
}